# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

In [1]:
#!pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/5b/b1/bb485db528749f07d6f11aa123e5f931f2e465a9c27945d6122bae5f7df7/PyMySQL-1.0.3-py3-none-any.whl (43kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.3

WARNING: You are using pip version 19.2.3, however version 23.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
#!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 8.7 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1.2

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [3]:
db_name = "database-1"
username = "admin"
password = "qwertyui"
host = "database-1.ckazj8ut3bmc.us-east-2.rds.amazonaws.com"
port = 3306

### Conexion BD

In [4]:
import pymysql

In [5]:
'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas.
'''
db = pymysql.connect(host=host,
                     user=username,
                     password=password,
                     cursorclass=pymysql.cursors.DictCursor)

# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db.cursor()

### Version DB

In [6]:
'''
Este es el engine version de la BD de AWS
fechtone trae la primera linea de la consulta
El execute() devuelve el numero de filas a las que ha afectado la query,
en este caso, devuelve una unica fila.

Execute se guarda en la conexion pero hasta que no hacemos commit
no se ejecutan las queries
de insert de datos y esas cosas...
'''

cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'MySQL instance version: {version}')

MySQL instance version: {'VERSION()': '8.0.32'}

### Creación de DB

In [7]:
# Creamos una BD. Tenemos una instancia de MySQL, pero no una BD
# Los comandos de SQL  se suelen poner en mayuscula
create_db = '''CREATE DATABASE country_database'''
cursor.execute(create_db)

# Podemos eliminar la BD
delete_db = '''DROP DATABASE country_database'''
cursor.execute(delete_db)

# La volvemos a crear
cursor.execute(create_db)
# el output es el numero de filas afectadas

1

In [10]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

### Creación de tablas

In [13]:
'''
Creamos una tabla
Esto da error porque no le hemos dicho al servidor qué BD
queremos usar

'''


# crear una tabla que se llame country
create_table = '''
CREATE TABLE country (
id INT NOT NULL auto_increment,
name TEXT,
continent TEXT,
population INT,
gdp DOUBLE,
primary key (id)
)
'''

cursor.execute(create_table)

0

### Seleccionar la BD

In [12]:
# Para usar la BD  recien creada

cursor.connection.commit()
use_db = ''' USE country_database'''
cursor.execute(use_db)

0

In [14]:
# checkear todas las tablas que tiene mi db
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_country_database': 'country'}]

In [ ]:
"""
Si queremos borrar alguna tabla

drop_table = '''DROP TABLE country'''
cursor.execute(drop_table)

"""

### Insertar datos

In [15]:
insert_data = '''
INSERT INTO country (name, continent, population, gdp)\
                    values('%s', '%s', '%s', '%s')''' % ('Spain', 'Europe', 47, 1.4)

cursor.execute(insert_data)

1

### Leer datos

In [16]:
sql = '''SELECT * FROM country'''
cursor.execute(sql)

1

In [17]:
cursor.fetchall()

[{'id': 1,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.4}]

### Guardar los cambios
Hay que ejecutar el commit antes de cerrar la sesión de la BD para que se guarden todos los cambios

In [18]:
db.commit()

### Excepciones
Se recomienda rodear este tipo de sentencias con un try/except, ya que suele ser software productivo y tiene que saber manejar fallos

In [19]:
try:
    sql = '''SELECT * FROM country'''
    cursor.execute(sql)
    cursor.fetchall()
except Exception as e:
    print(e)

### Insertar datos de un CSV

In [20]:
# Creamos el CSV
import pandas as pd

df = pd.DataFrame({
    'name': ['France', 'Japan', 'Argentina', 'Brasil'],
    'continent': ['Europe', 'Asia', 'America', 'America'],
    'population': [70, 126, 44, 209],
    'gdp': [2.7, 4.9, 0.5, 1.8]
})

df.to_csv('country_data.csv', sep=';', index=False)

In [21]:
# leemos los datos
df = pd.read_csv('country_data.csv', sep=';')
df.head()

        name continent  population  gdp
0     France    Europe          70  2.7
1      Japan      Asia         126  4.9
2  Argentina   America          44  0.5
3     Brasil   America         209  1.8

In [22]:
#!pip install sqlalchemy --upgrade

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/6d/74/18cd8754ffe79d79cb32804b2ea0d308ccaf1baea86a7bc5869d14a0e8de/SQLAlchemy-2.0.11-cp38-cp38-win_amd64.whl (2.0MB)
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) (from sqlalchemy)
  Downloading https://files.pythonhosted.org/packages/a1/ea/66e69cf3034be99a1959b2bdd178f5176979e0e63107a37a194c90c49b40/greenlet-2.0.2-cp38-cp38-win_amd64.whl (192kB)
Collecting typing-extensions>=4.2.0 (from sqlalchemy)
  Using cached https://files.pythonhosted.org/packages/31/25/5abcd82372d3d4a3932e1fa8c3dbf9efac10cc7c0d16e78467460571b404/typing_extensions-4.5.0-py3-none-any.whl
Installing collected packages: greenlet, typing-extensions, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.11 typing-extensions-4.5.0

WARNING: You are using pip version 19.2.3, however version 23.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [23]:
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=username,
                               host=host,
                               pw=password,
                               db="country_database"))

In [24]:
# insertamos todo el dataframe
df.to_sql('country',
          con= engine,
          if_exists = 'append',
          chunksize = 1000,
          index= False)

In [25]:
db.commit()

In [26]:
# leemos los datos para comprobar que se han ingestado correctamente
sql = '''SELECT * FROM country'''
cursor.execute(sql)
cursor.fetchall()

[{'id': 1,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.4},
 {'id': 2,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 3,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 4,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 5,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8}]

### Cerrar la conexión cuando acabemos

In [27]:
db.close()