## Web scrapping de IMDB

EJERCICIO: DESCARGA UN DATAFRAME CON EL TOP 250 PELÍCULAS DE IMBD A TRAVÉS DE WEBSCRAPING.

In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 250 data

In [2]:
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

,movie_title,year,place,star_cast,rating,votes,link
0,Cadena perpetua,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.234031978433546,2608862,/title/tt0111161/
1,El padrino,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.156069723350916,1804502,/title/tt0068646/
2,El caballero oscuro,2008,3,"Christopher Nolan (dir.), Christian Bale, Heat...",8.985962559792123,2580757,/title/tt0468569/
3,El padrino: Parte II,1974,4,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.984306400315655,1241738,/title/tt0071562/
4,12 hombres sin piedad,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.947982556195397,770879,/title/tt0050083/
...,...,...,...,...,...,...,...
245,Aladdín,1992,246,"Ron Clements (dir.), Scott Weinger, Robin Will...",8.006778455466119,408577,/title/tt0103639/
246,Jai Bhim,2021,247,"T.J. Gnanavel (dir.), Suriya, Lijo Mol Jose",8.006429329804561,192213,/title/tt15097216/
247,Gandhi,1982,248,"Richard Attenborough (dir.), Ben Kingsley, Joh...",8.006110487700488,229426,/title/tt0083987/
248,Criadas y señoras,2011,249,"Tate Taylor (dir.), Emma Stone, Viola Davis",8.004673874224292,452904,/title/tt1454029/
249,La bella y la bestia,1991,250,"Gary Trousdale (dir.), Paige O'Hara, Robby Benson",8.00273378949564,447415,/title/tt0101414/