In [1]:
# 1. Crea un DataFrame con 3 columnas numéricas de atributos y una columna target de clasificación.
# Piensa en un ejemplo que no sean flores
# Usa índices NO NUMÉRICOS en tu ejemplo desde el constructor y ten 9 instancias en el DataFrame

In [2]:
df

          Peso  Altura  Vacunas_puestas  Es_dócil
Toby         2      30                3         1
Idefix       3      40                5         1
Milú         2      35                3         1
Laika        4      35                4         0
Dartacán     3      40                7         0
Rex          2      50                4         1
Fanfan       5      40                2         0
Lulu         3      35                2         0
Saturno      2      37                3         0

In [2]:
# 2. Separa X e y del DataFrame

          Peso  Altura  Vacunas_puestas
Toby         2      30                3
Idefix       3      40                5
Milú         2      35                3
Laika        4      35                4
Dartacán     3      40                7
Rex          2      50                4
Fanfan       5      40                2
Lulu         3      35                2
Saturno      2      37                3

Toby        1
Idefix      1
Milú        1
Laika       0
Dartacán    0
Rex         1
Fanfan      0
Lulu        0
Saturno     0
Name: Es_dócil, dtype: int64

In [3]:
# no importa que y sea una Serie

In [4]:
# 3. Estandariza usando sklearn todas las columnas numéricas
# Usa fit y luego transform
# Comprueba que la media es nula y la varianza unitaria

array([[-0.89442719, -1.52400152, -0.4472136 ],
       [ 0.1118034 ,  0.38100038,  0.89442719],
       [-0.89442719, -0.57150057, -0.4472136 ],
       [ 1.11803399, -0.57150057,  0.2236068 ],
       [ 0.1118034 ,  0.38100038,  2.23606798],
       [-0.89442719,  2.28600229,  0.2236068 ],
       [ 2.12426458,  0.38100038, -1.11803399],
       [ 0.1118034 , -0.57150057, -1.11803399],
       [-0.89442719, -0.19050019, -0.4472136 ]])

array([[-0.89442719,  0.1118034 , -0.89442719,  1.11803399,  0.1118034 ,
        -0.89442719,  2.12426458,  0.1118034 , -0.89442719],
       [-1.52400152,  0.38100038, -0.57150057, -0.57150057,  0.38100038,
         2.28600229,  0.38100038, -0.57150057, -0.19050019],
       [-0.4472136 ,  0.89442719, -0.4472136 ,  0.2236068 ,  2.23606798,
         0.2236068 , -1.11803399, -1.11803399, -0.4472136 ]])

[9.868649107779169e-17, -3.700743415417188e-17, 1.295260195396016e-16]

[1.0, 1.0, 1.0]

In [6]:
# Ahora estandariza usando fit y transform en un solo paso

[9.868649107779169e-17, -3.700743415417188e-17, 1.295260195396016e-16]

In [12]:
# ¡encadenando los métodos!

[9.868649107779169e-17, -3.700743415417188e-17, 1.295260195396016e-16]

[1.0, 1.0, 1.0]

In [8]:
# 4. Escalado minmax con fit y con transform
# Comprueba los valores mínimos y máximos

array([0., 0., 0.])

array([1., 1., 1.])

In [9]:
# Ahora haz el escalado en un solo paso con fit y transform juntos

array([0., 0., 0.])

array([1., 1., 1.])

¡Felicidades! Ya tienes las columnas numéricas listas para poder aplicar después modelos de ML basados en distancias
Recuerda que también debes tratar datos nulos y outliers