In [2]:
# 1. Crea un DataFrame con 3 columnas numéricas de atributos y una columna target de clasificación.
# Piensa en un ejemplo que no sean flores
# Usa índices NO NUMÉRICOS en tu ejemplo desde el constructor y ten 9 instancias en el DataFrame

In [3]:
import pandas as pd
from sklearn import preprocessing

perritos = {'Peso': [2,3,2,4,3,2,5,3,2],
        'Altura': [30,40,35,35,40,50,40,35,37],
        'Vacunas_puestas': [3,5,3,4,7,4,2,2,3],
           'Es_dócil':[1,1,1,0,0,1,0,0,0]}

df = pd.DataFrame(perritos, columns = ['Peso','Altura','Vacunas_puestas','Es_dócil'],
                  index=['Toby','Idefix','Milú','Laika','Dartacán','Rex','Fanfan','Lulu','Saturno'])

In [4]:
df

          Peso  Altura  Vacunas_puestas  Es_dócil
Toby         2      30                3         1
Idefix       3      40                5         1
Milú         2      35                3         1
Laika        4      35                4         0
Dartacán     3      40                7         0
Rex          2      50                4         1
Fanfan       5      40                2         0
Lulu         3      35                2         0
Saturno      2      37                3         0

In [5]:
# 2. Separa X e y del DataFrame

In [6]:
X = df.iloc[:,:-1]
X

          Peso  Altura  Vacunas_puestas
Toby         2      30                3
Idefix       3      40                5
Milú         2      35                3
Laika        4      35                4
Dartacán     3      40                7
Rex          2      50                4
Fanfan       5      40                2
Lulu         3      35                2
Saturno      2      37                3

In [7]:
y = df.iloc[:,-1]

In [8]:
y

Toby        1
Idefix      1
Milú        1
Laika       0
Dartacán    0
Rex         1
Fanfan      0
Lulu        0
Saturno     0
Name: Es_dócil, dtype: int64

In [9]:
# no importa que y sea una Serie

In [10]:
# 3. Estandariza usando sklearn todas las columnas numéricas
# Usa fit y luego transform
# Comprueba que la media es nula y la varianza unitaria

In [11]:
#std_scaler = preprocessing.StandardScaler().fit(X)

std_scaler = preprocessing.StandardScaler()
std_scaler.fit(X)

np_X_estandarizado = std_scaler.transform(X) # estandarizado

In [12]:
np_X_estandarizado

array([[-0.89442719, -1.52400152, -0.4472136 ],
       [ 0.1118034 ,  0.38100038,  0.89442719],
       [-0.89442719, -0.57150057, -0.4472136 ],
       [ 1.11803399, -0.57150057,  0.2236068 ],
       [ 0.1118034 ,  0.38100038,  2.23606798],
       [-0.89442719,  2.28600229,  0.2236068 ],
       [ 2.12426458,  0.38100038, -1.11803399],
       [ 0.1118034 , -0.57150057, -1.11803399],
       [-0.89442719, -0.19050019, -0.4472136 ]])

In [13]:
np_X_estandarizado.T

array([[-0.89442719,  0.1118034 , -0.89442719,  1.11803399,  0.1118034 ,
        -0.89442719,  2.12426458,  0.1118034 , -0.89442719],
       [-1.52400152,  0.38100038, -0.57150057, -0.57150057,  0.38100038,
         2.28600229,  0.38100038, -0.57150057, -0.19050019],
       [-0.4472136 ,  0.89442719, -0.4472136 ,  0.2236068 ,  2.23606798,
         0.2236068 , -1.11803399, -1.11803399, -0.4472136 ]])

In [14]:
[x.mean() for x in np_X_estandarizado.T] # medias casi 0

[9.868649107779169e-17, -3.700743415417188e-17, 1.295260195396016e-16]

In [15]:
# compruebo las desviaciones típicas
[x.std() for x in np_X_estandarizado.T] # desviaciones típicas unitarias

[1.0, 1.0, 1.0]

In [16]:
# Ahora estandariza usando fit y transform en un solo paso

In [17]:
np_X_estandarizado = preprocessing.StandardScaler().fit_transform(X)
np_X_estandarizado_transpuesto = np_X_estandarizado.T
[x.mean() for x in np_X_estandarizado_transpuesto]

[9.868649107779169e-17, -3.700743415417188e-17, 1.295260195396016e-16]

In [18]:
# ¡encadenando los métodos!

[x.mean() for x in preprocessing.StandardScaler().fit_transform(X).T]

[9.868649107779169e-17, -3.700743415417188e-17, 1.295260195396016e-16]

In [19]:
[x.std() for x in np_X_estandarizado_transpuesto]

[1.0, 1.0, 1.0]

In [8]:
# 4. Escalado minmax con fit y con transform
# Comprueba los valores mínimos y máximos

In [20]:
minmax_scaler = preprocessing.MinMaxScaler().fit(X)
np_X_escalado = minmax_scaler.transform(X) # escalado

In [21]:
np_X_escalado.min(axis=0) # axis 0 trabaja con columnas, barre por filas

array([0., 0., 0.])

In [22]:
np_X_escalado.max(axis=0) # axis 0 trabaja con columnas, barre por filas

array([1., 1., 1.])

In [9]:
# Ahora haz el escalado en un solo paso con fit y transform juntos

In [23]:

np_X_escalado = preprocessing.MinMaxScaler().fit_transform(X)

In [24]:
np_X_escalado.min(axis=0) # axis 0 trabaja con columnas, barre por filas

array([0., 0., 0.])

In [25]:
np_X_escalado.max(axis=0) # axis 0 trabaja con columnas, barre por filas

array([1., 1., 1.])

¡Felicidades! Ya tienes las columnas numéricas listas para poder aplicar después modelos de ML basados en distancias
Recuerda que también debes tratar datos nulos y outliers